
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498119443578'); /* IE9*/
  src: url('iconfont.eot?t=1498119443578#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498119443578') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498119443578') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498119443578#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phon2:before { content: "\e60b"; }

.icon-iconup:before { content: "\e603"; }

.icon-xiche:before { content: "\e632"; }

.icon-tetedipanzhuangjia:before { content: "\e64f"; }

.icon-24h:before { content: "\e6e4"; }

.icon-iconkefudianhua:before { content: "\e608"; }

.icon-iconzaixiankefu:before { content: "\e609"; }

.icon-iconbaike:before { content: "\e60a"; }

.icon-iconhuiyuan:before { content: "\e60c"; }

.icon-dala:before { content: "\e635"; }

.icon-rcwx:before { content: "\e637"; }

.icon-rcby:before { content: "\e638"; }

.icon-gsm:before { content: "\e616"; }

.icon-dpzj:before { content: "\e617"; }

.icon-zhengpinluntai2:before { content: "\e618"; }

.icon-iconmore44:before { content: "\e61b"; }

.icon-code:before { content: "\e726"; }

.icon-android:before { content: "\e675"; }

.icon-iphone:before { content: "\e67a"; }

.icon-map:before { content: "\e606"; }

.icon-hlt:before { content: "\e61d"; }

.icon-diamond:before { content: "\e6e8"; }

.icon-seat:before { content: "\e63b"; }

.icon-dianchi:before { content: "\e6f5"; }

.icon-cart:before { content: "\e607"; }

